- name: Install docker
  apt:
    name:
      - docker.io
      - docker-compose
    state: present
    update_cache: yes  # Обновить кэш пакетов

- name: Enable docker
  systemd:
    name: docker
    enabled: true
    state: started

- name: Add user to docker group
  user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes

- name: Pull nginx from DockerHub
  docker_image:
    name: nginx
    tag: alpine  # Или latest, stable, 1.25
    source: pull
    state: present

- name: Run nginx container
  docker_container:
    name: nginx-web
    image: nginx:alpine
    state: started
    restart_policy: unless-stopped
    ports:
      - "80:80"      # HTTP
      - "443:443"    # HTTPS (опционально)
    volumes:
      - "/var/www/html:/usr/share/nginx/html:ro"
      - "/etc/nginx/conf.d:/etc/nginx/conf.d:ro"
    env:
      NGINX_HOST: "localhost"
      NGINX_PORT: "80"